<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-rtsp-rtmp-stream"
        version="0.1.18">
    <name>Cordova RTSP RTMP Player</name>
    <description>Cross-platform plugin for Cordova / PhoneGap to to easily stream RTSP or RTMP. Available for Android ONLY.
    </description>
    <license>Apache 2.0</license>
    <keywords>rtsp streamer, rtmp stream, video stream, stream, cordova videro stream</keywords>

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <js-module src="www/videoStreamer.js" name="VideoStream">
        <clobbers target="window.videoStreamer"/>
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="VideoStream">
                <param name="android-package" value="com.webmons.disono.rtmpandrtspstreamer.VideoStream"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.FLASHLIGHT" />
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.RECORD_AUDIO" />
			<uses-permission android:name="android.permission.CAMERA" />
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    		<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
			<uses-feature android:name="android.hardware.camera2.full" android:required="false" />
			<uses-feature android:name="android.hardware.camera2.autofocus" android:required="false" />
			<uses-permission android:name="android.permission.WAKE_LOCK" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.webmons.disono.rtmpandrtspstreamer.RTMPActivity" android:screenOrientation="landscape"/>
            <activity android:name="com.webmons.disono.rtmpandrtspstreamer.RTSPActivity" android:screenOrientation="landscape"/>
        </config-file>

		<framework src="src/android/build.gradle" custom="true" type="gradleReference" />
        <source-file src="src/android/com/webmons/disono/rtmpandrtspstreamer/CommentListAdapter.java" target-dir="src/com/webmons/disono/rtmpandrtspstreamer"/>
        <source-file src="src/android/com/webmons/disono/rtmpandrtspstreamer/Comments.java" target-dir="src/com/webmons/disono/rtmpandrtspstreamer"/>
        <source-file src="src/android/com/webmons/disono/rtmpandrtspstreamer/VideoStream.java" target-dir="src/com/webmons/disono/rtmpandrtspstreamer"/>
        <source-file src="src/android/com/webmons/disono/rtmpandrtspstreamer/RTMPActivity.java" target-dir="src/com/webmons/disono/rtmpandrtspstreamer"/>
        <source-file src="src/android/com/webmons/disono/rtmpandrtspstreamer/RTSPActivity.java" target-dir="src/com/webmons/disono/rtmpandrtspstreamer"/>
        <source-file src="src/android/com/webmons/disono/rtmpandrtspstreamer/SingleMediaScanner.java" target-dir="src/com/webmons/disono/rtmpandrtspstreamer"/>
        <source-file src="src/android/com/webmons/disono/rtmpandrtspstreamer/VideoHelper.java" target-dir="src/com/webmons/disono/rtmpandrtspstreamer"/>

    		<resource-file src="src/android/res/layout/comment_list.xml" target="res/layout/comment_list.xml" />
    		<resource-file src="src/android/res/layout/rtsp_rtmp_streamer.xml" target="res/layout/rtsp_rtmp_streamer.xml" />

    		<resource-file src="src/android/res/drawable/bg_edittext.xml" target="res/drawable/bg_edittext.xml" />
    		<resource-file src="src/android/res/drawable/bg_edittext_focused.xml" target="res/drawable/bg_edittext_focused.xml" />
    		<resource-file src="src/android/res/drawable/bg_edittext_normal.xml" target="res/drawable/bg_edittext_normal.xml" />

    		<resource-file src="src/android/res/drawable-hdpi/ic_flash_off_white_36dp.png" target="res/drawable-hdpi/ic_flash_off_white_36dp.png" />
    		<resource-file src="src/android/res/drawable-hdpi/ic_flash_on_white_36dp.png" target="res/drawable-hdpi/ic_flash_on_white_36dp.png" />
    		<resource-file src="src/android/res/drawable-hdpi/ic_switch_video_white_36dp.png" target="res/drawable-hdpi/ic_switch_video_white_36dp.png" />
    		<resource-file src="src/android/res/drawable-hdpi/ic_videocam_off_white_36dp.png" target="res/drawable-hdpi/ic_videocam_off_white_36dp.png" />
    		<resource-file src="src/android/res/drawable-hdpi/ic_videocam_white_36dp.png" target="res/drawable-hdpi/ic_videocam_white_36dp.png" />
    		<resource-file src="src/android/res/drawable-hdpi/ic_mode_comment_white_36dp.png" target="res/drawable-hdpi/ic_mode_comment_white_36dp.png" />
    		<resource-file src="src/android/res/drawable-hdpi/ic_fiber_manual_record_white_36dp.png" target="res/drawable-hdpi/ic_fiber_manual_record_white_36dp.png" />
    		<resource-file src="src/android/res/drawable-hdpi/ic_stop_white_36dp.png" target="res/drawable-hdpi/ic_stop_white_36dp.png" />
    		<resource-file src="src/android/res/drawable-hdpi/ic_autorenew_white_36dp.png" target="res/drawable-hdpi/ic_autorenew_white_36dp.png" />
    		<resource-file src="src/android/res/drawable-hdpi/ic_tune_grey600_36dp.png" target="res/drawable-hdpi/ic_tune_grey600_36dp.png" />
    		<resource-file src="src/android/res/drawable-hdpi/ic_window_close_grey600_36dp.png" target="res/drawable-hdpi/ic_window_close_grey600_36dp.png" />

    		<resource-file src="src/android/res/drawable-mdpi/ic_flash_off_white_36dp.png" target="res/drawable-mdpi/ic_flash_off_white_36dp.png" />
    		<resource-file src="src/android/res/drawable-mdpi/ic_flash_on_white_36dp.png" target="res/drawable-mdpi/ic_flash_on_white_36dp.png" />
    		<resource-file src="src/android/res/drawable-mdpi/ic_switch_video_white_36dp.png" target="res/drawable-mdpi/ic_switch_video_white_36dp.png" />
    		<resource-file src="src/android/res/drawable-mdpi/ic_videocam_off_white_36dp.png" target="res/drawable-mdpi/ic_videocam_off_white_36dp.png" />
    		<resource-file src="src/android/res/drawable-mdpi/ic_videocam_white_36dp.png" target="res/drawable-mdpi/ic_videocam_white_36dp.png" />
    		<resource-file src="src/android/res/drawable-mdpi/ic_mode_comment_white_36dp.png" target="res/drawable-mdpi/ic_mode_comment_white_36dp.png" />
    		<resource-file src="src/android/res/drawable-mdpi/ic_fiber_manual_record_white_36dp.png" target="res/drawable-mdpi/ic_fiber_manual_record_white_36dp.png" />
    		<resource-file src="src/android/res/drawable-mdpi/ic_stop_white_36dp.png" target="res/drawable-mdpi/ic_stop_white_36dp.png" />
    		<resource-file src="src/android/res/drawable-mdpi/ic_autorenew_white_36dp.png" target="res/drawable-mdpi/ic_autorenew_white_36dp.png" />
    		<resource-file src="src/android/res/drawable-mdpi/ic_tune_grey600_36dp.png" target="res/drawable-mdpi/ic_tune_grey600_36dp.png" />
    		<resource-file src="src/android/res/drawable-mdpi/ic_window_close_grey600_36dp.png" target="res/drawable-mdpi/ic_window_close_grey600_36dp.png" />

    		<resource-file src="src/android/res/drawable-xhdpi/ic_flash_off_white_36dp.png" target="res/drawable-xhdpi/ic_flash_off_white_36dp.png" />
    		<resource-file src="src/android/res/drawable-xhdpi/ic_flash_on_white_36dp.png" target="res/drawable-xhdpi/ic_flash_on_white_36dp.png" />
    		<resource-file src="src/android/res/drawable-xhdpi/ic_switch_video_white_36dp.png" target="res/drawable-xhdpi/ic_switch_video_white_36dp.png" />
    		<resource-file src="src/android/res/drawable-xhdpi/ic_videocam_off_white_36dp.png" target="res/drawable-xhdpi/ic_videocam_off_white_36dp.png" />
    		<resource-file src="src/android/res/drawable-xhdpi/ic_videocam_white_36dp.png" target="res/drawable-xhdpi/ic_videocam_white_36dp.png" />
    		<resource-file src="src/android/res/drawable-xhdpi/ic_mode_comment_white_36dp.png" target="res/drawable-xhdpi/ic_mode_comment_white_36dp.png" />
    		<resource-file src="src/android/res/drawable-xhdpi/ic_fiber_manual_record_white_36dp.png" target="res/drawable-xhdpi/ic_fiber_manual_record_white_36dp.png" />
    		<resource-file src="src/android/res/drawable-xhdpi/ic_stop_white_36dp.png" target="res/drawable-xhdpi/ic_stop_white_36dp.png" />
    		<resource-file src="src/android/res/drawable-xhdpi/ic_autorenew_white_36dp.png" target="res/drawable-xhdpi/ic_autorenew_white_36dp.png" />
    		<resource-file src="src/android/res/drawable-xhdpi/ic_tune_grey600_36dp.png" target="res/drawable-xhdpi/ic_tune_grey600_36dp.png" />
    		<resource-file src="src/android/res/drawable-xhdpi/ic_window_close_grey600_36dp.png" target="res/drawable-xhdpi/ic_window_close_grey600_36dp.png" />

    		<resource-file src="src/android/res/drawable-xxhdpi/ic_flash_off_white_36dp.png" target="res/drawable-xxhdpi/ic_flash_off_white_36dp.png" />
    		<resource-file src="src/android/res/drawable-xxhdpi/ic_flash_on_white_36dp.png" target="res/drawable-xxhdpi/ic_flash_on_white_36dp.png" />
    		<resource-file src="src/android/res/drawable-xxhdpi/ic_switch_video_white_36dp.png" target="res/drawable-xxhdpi/ic_switch_video_white_36dp.png" />
    		<resource-file src="src/android/res/drawable-xxhdpi/ic_videocam_off_white_36dp.png" target="res/drawable-xxhdpi/ic_videocam_off_white_36dp.png" />
    		<resource-file src="src/android/res/drawable-xxhdpi/ic_videocam_white_36dp.png" target="res/drawable-xxhdpi/ic_videocam_white_36dp.png" />
    		<resource-file src="src/android/res/drawable-xxhdpi/ic_mode_comment_white_36dp.png" target="res/drawable-xxhdpi/ic_mode_comment_white_36dp.png" />
    		<resource-file src="src/android/res/drawable-xxhdpi/ic_fiber_manual_record_white_36dp.png" target="res/drawable-xxhdpi/ic_fiber_manual_record_white_36dp.png" />
    		<resource-file src="src/android/res/drawable-xxhdpi/ic_stop_white_36dp.png" target="res/drawable-xxhdpi/ic_stop_white_36dp.png" />
    		<resource-file src="src/android/res/drawable-xxhdpi/ic_autorenew_white_36dp.png" target="res/drawable-xxhdpi/ic_autorenew_white_36dp.png" />
    		<resource-file src="src/android/res/drawable-xxhdpi/ic_tune_grey600_36dp.png" target="res/drawable-xxhdpi/ic_tune_grey600_36dp.png" />
    		<resource-file src="src/android/res/drawable-xxhdpi/ic_window_close_grey600_36dp.png" target="res/drawable-xxhdpi/ic_window_close_grey600_36dp.png" />

    		<resource-file src="src/android/res/drawable-xxxhdpi/ic_flash_off_white_36dp.png" target="res/drawable-xxxhdpi/ic_flash_off_white_36dp.png" />
    		<resource-file src="src/android/res/drawable-xxxhdpi/ic_flash_on_white_36dp.png" target="res/drawable-xxxhdpi/ic_flash_on_white_36dp.png" />
    		<resource-file src="src/android/res/drawable-xxxhdpi/ic_switch_video_white_36dp.png" target="res/drawable-xxxhdpi/ic_switch_video_white_36dp.png" />
    		<resource-file src="src/android/res/drawable-xxxhdpi/ic_videocam_off_white_36dp.png" target="res/drawable-xxxhdpi/ic_videocam_off_white_36dp.png" />
    		<resource-file src="src/android/res/drawable-xxxhdpi/ic_videocam_white_36dp.png" target="res/drawable-xxxhdpi/ic_videocam_white_36dp.png" />
    		<resource-file src="src/android/res/drawable-xxxhdpi/ic_mode_comment_white_36dp.png" target="res/drawable-xxxhdpi/ic_mode_comment_white_36dp.png" />
    		<resource-file src="src/android/res/drawable-xxxhdpi/ic_fiber_manual_record_white_36dp.png" target="res/drawable-xxxhdpi/ic_fiber_manual_record_white_36dp.png" />
    		<resource-file src="src/android/res/drawable-xxxhdpi/ic_stop_white_36dp.png" target="res/drawable-xxxhdpi/ic_stop_white_36dp.png" />
    		<resource-file src="src/android/res/drawable-xxxhdpi/ic_autorenew_white_36dp.png" target="res/drawable-xxxhdpi/ic_autorenew_white_36dp.png" />
    		<resource-file src="src/android/res/drawable-xxxhdpi/ic_tune_grey600_36dp.png" target="res/drawable-xxxhdpi/ic_tune_grey600_36dp.png" />
    		<resource-file src="src/android/res/drawable-xxxhdpi/ic_window_close_grey600_36dp.png" target="res/drawable-xxxhdpi/ic_window_close_grey600_36dp.png" />
    </platform>
</plugin>
