<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-rtmp-rtsp-stream"
        version="0.1.0">
    <name>Cordova RTSP</name>
    <description>Cross-platform plugin for Cordova / PhoneGap to to easily stream RTSP or RTMP. Available for Android ONLY.
    </description>
    <license>Apache 2.0</license>
    <keywords>rtsp streamer, rtmp stream, video stream, stream, cordova videro stream</keywords>

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <js-module src="www/video_streamer.js" name="VideoStream">
        <clobbers target="window.videoStreamer"/>
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="VideoStream">
                <param name="android-package" value="com.webmons.disono.rtmpandrtspstreamer.VideoStream"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">			
			<uses-permission android:name="android.permission.FLASHLIGHT" />
			<uses-permission android:name="android.permission.CAMERA" />
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.RECORD_AUDIO" />
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
			<uses-feature android:name="android.hardware.camera" />
			<uses-feature android:name="android.hardware.camera2.full" />
			<uses-feature android:name="android.hardware.camera2.autofocus" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.webmons.disono.rtmpandrtspstreamer.RTMPActivity"/>
            <activity android:name="com.webmons.disono.rtmpandrtspstreamer.RTSPActivity"/>
        </config-file>
		
		<framework src="com.github.pedroSG94.rtmp-rtsp-stream-client-java:rtplibrary:1.2.9" />
		
        <source-file src="src/com/webmons/disono/rtmpandrtspstreamer/VideoStream.java" target-dir="src/com/webmons/disono/rtmpandrtspstreamer"/>
        <source-file src="src/com/webmons/disono/rtmpandrtspstreamer/RTMPActivity.java" target-dir="src/com/webmons/disono/rtmpandrtspstreamer"/>
        <source-file src="src/com/webmons/disono/rtmpandrtspstreamer/RTSPActivity.java" target-dir="src/com/webmons/disono/rtmpandrtspstreamer"/>
		
		<resource-file src="res/layout/activity_main.xml" target="res/layout/activity_main.xml" />
		
		<resource-file src="res/drawable-hdpi/ic_flash_off_white_48dp.png" target="res/drawable-hdpi/ic_flash_off_white_48dp.png" />
		<resource-file src="res/drawable-hdpi/ic_flash_on_white_48dp.png" target="res/drawable-hdpi/ic_flash_on_white_48dp.png" />
		<resource-file src="res/drawable-hdpi/ic_switch_camera_white_48dp.png" target="res/drawable-hdpi/ic_switch_camera_white_48dp.png" />
		<resource-file src="res/drawable-hdpi/ic_videocam_off_white_48dp.png" target="res/drawable-hdpi/ic_videocam_off_white_48dp.png" />
		<resource-file src="res/drawable-hdpi/ic_videocam_white_48dp.png" target="res/drawable-hdpi/ic_videocam_white_48dp.png" />
		
		<resource-file src="res/drawable-mdpi/ic_flash_off_white_48dp.png" target="res/drawable-hdpi/ic_flash_off_white_48dp.png" />
		<resource-file src="res/drawable-mdpi/ic_flash_on_white_48dp.png" target="res/drawable-mdpi/ic_flash_on_white_48dp.png" />
		<resource-file src="res/drawable-mdpi/ic_switch_camera_white_48dp.png" target="res/drawable-mdpi/ic_switch_camera_white_48dp.png" />
		<resource-file src="res/drawable-mdpi/ic_videocam_off_white_48dp.png" target="res/drawable-mdpi/ic_videocam_off_white_48dp.png" />
		<resource-file src="res/drawable-mdpi/ic_videocam_white_48dp.png" target="res/drawable-mdpi/ic_videocam_white_48dp.png" />
		
		<resource-file src="res/drawable-v24/ic_flash_off_white_48dp.png" target="res/drawable-hdpi/ic_flash_off_white_48dp.png" />
		<resource-file src="res/drawable-v24/ic_flash_on_white_48dp.png" target="res/drawable-v24/ic_flash_on_white_48dp.png" />
		<resource-file src="res/drawable-v24/ic_switch_camera_white_48dp.png" target="res/drawable-v24/ic_switch_camera_white_48dp.png" />
		<resource-file src="res/drawable-v24/ic_videocam_off_white_48dp.png" target="res/drawable-v24/ic_videocam_off_white_48dp.png" />
		<resource-file src="res/drawable-v24/ic_videocam_white_48dp.png" target="res/drawable-v24/ic_videocam_white_48dp.png" />
		
		<resource-file src="res/drawable-xhdpi/ic_flash_off_white_48dp.png" target="res/drawable-hdpi/ic_flash_off_white_48dp.png" />
		<resource-file src="res/drawable-xhdpi/ic_flash_on_white_48dp.png" target="res/drawable-xhdpi/ic_flash_on_white_48dp.png" />
		<resource-file src="res/drawable-xhdpi/ic_switch_camera_white_48dp.png" target="res/drawable-xhdpi/ic_switch_camera_white_48dp.png" />
		<resource-file src="res/drawable-xhdpi/ic_videocam_off_white_48dp.png" target="res/drawable-xhdpi/ic_videocam_off_white_48dp.png" />
		<resource-file src="res/drawable-xhdpi/ic_videocam_white_48dp.png" target="res/drawable-xhdpi/ic_videocam_white_48dp.png" />
		
		<resource-file src="res/drawable-xxhdpi/ic_flash_off_white_48dp.png" target="res/drawable-hdpi/ic_flash_off_white_48dp.png" />
		<resource-file src="res/drawable-xxhdpi/ic_flash_on_white_48dp.png" target="res/drawable-xxhdpi/ic_flash_on_white_48dp.png" />
		<resource-file src="res/drawable-xxhdpi/ic_switch_camera_white_48dp.png" target="res/drawable-xxhdpi/ic_switch_camera_white_48dp.png" />
		<resource-file src="res/drawable-xxhdpi/ic_videocam_off_white_48dp.png" target="res/drawable-xxhdpi/ic_videocam_off_white_48dp.png" />
		<resource-file src="res/drawable-xxhdpi/ic_videocam_white_48dp.png" target="res/drawable-xxhdpi/ic_videocam_white_48dp.png" />
		
		<resource-file src="res/drawable-xxxhdpi/ic_flash_off_white_48dp.png" target="res/drawable-hdpi/ic_flash_off_white_48dp.png" />
		<resource-file src="res/drawable-xxxhdpi/ic_flash_on_white_48dp.png" target="res/drawable-xxxhdpi/ic_flash_on_white_48dp.png" />
		<resource-file src="res/drawable-xxxhdpi/ic_switch_camera_white_48dp.png" target="res/drawable-xxxhdpi/ic_switch_camera_white_48dp.png" />
		<resource-file src="res/drawable-xxxhdpi/ic_videocam_off_white_48dp.png" target="res/drawable-xxxhdpi/ic_videocam_off_white_48dp.png" />
		<resource-file src="res/drawable-xxxhdpi/ic_videocam_white_48dp.png" target="res/drawable-xxxhdpi/ic_videocam_white_48dp.png" />
    </platform>
</plugin>